<h3>User's Listing</h3>

<a routerLink="/user/add">Add user</a>

<div class=table>
    <table>
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Action</th>
        </thead>
        <tbody *ngFor="let user of usersdata">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.city}}</td>
            <td>
                <button (click)=deleteUser(user._id,user.name)>delete</button>
                <a href="user/edit/{{user._id}}">edit</a>
            </td>

        </tbody>
    </table>
</div>